@use '../mixins/variables' as var;

#top-nav {
    background-color: rgb(238, 238, 242);
    position: static;
   // top: 0;
   // left: 50%;
   // transform: translateX(-50%);
    width: 100%;
    max-width: var.$max-width;
    height: 60px;
    cursor: context-menu;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    > div  {
        width: auto;
        
        > span {
            width: 90%;
            font-family: 'Caviar Dreams';
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            color: var.$text-color;
            margin: auto;
            cursor: context-menu;
        }
    }
}

/**
#top-nav + * {
    margin-top: 70px !important;
}
**/
