
ul {
    span.item {
        display: inline;
    }
    
    .icon-checkmark:before {
        color: rgb(48, 209, 88);
    }
    
    .icon-cross:before {
        color: rgb(255, 69, 58);
    }
    
    .icons {
        &:before {
            position: relative;
            margin-right: 0.6rem;
        }
    }
}

