@use '../mixins/variables' as var;

#top-nav {
    background-color: rgb(238, 238, 242);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var.$max-width;
    height: 60px;
    text-align: center;
    > div  {
        width: 100%;
        height: 100%;
        background-color: #ff0000;
        
        > span {
            
            width: 90%;
            height: 100%;
            margin: auto;
        }
    }
}