@use 'mixins/variables' as var;

body {
    width: 100%;
    max-width: var.$mix-width;
    height: auto;
    font-size: 10px;
    display: block;
    white-space: nowrap;
    font-family: "Helvetica", "Arial", "Sans-Serif";
    background-color: var.$main-background-color;
    margin: 0 auto;
}

button, button:before, button:after,
input, input:before, input:after {
    background-color: var.$main-background-color;
    color: rgb(68, 68, 70);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
    
    
input[type="number"] {
    -moz-appearance: textfield;
}